nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 15px;
    color: #1A2876;
}

a:hover{
    color: #5AC2F2;
}

.redes{
    display: flex;
    align-items: center;
    position: fixed;
    left: 1;
    top: 850px;
    gap: 10px;
    background-color: #E5A12B;
    border-radius: 20px;
}

.a1:hover{
    border: 2px solid #5AC2F2;
    padding: 10px;
    border-radius: 20px;
}

.div1{
    display: flex;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #051e4e;
    position: relative;
    left: 500px;
    width: 200px;
    padding: 20px;
}

button{
    padding: 10px;
    background-color: #0057E1;
    color:#E5A12B ;
}

.ti2{
    color:#E5A12B ;
}