nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 15px;
    color: #1A2876;
}

a:hover{
    color: #5AC2F2;
}

.redes{
    display: flex;
    align-items: center;
    position: fixed;
    left: 1;
    top: 850px;
    gap: 10px;
    background-color: #E5A12B;
    border-radius: 20px;
}

.a1:hover{
    border: 2px solid #5AC2F2;
    padding: 10px;
    border-radius: 20px;
}

.div1{
    display: flex;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #224087;
    position: relative;
    left: 400px;
    width: 400px;
    padding: 20px;
}

button{
    padding: 10px;
    background-color: #0057E1;
    color:#E5A12B ;
}

.t1{
    font-size: 80px;
    text-align: center;
}

.ti2{
    color:#E5A12B ;
}

.a2{
    color: #E5A12B;
}

.d1{
    background-color: #224087;
}

.d1 h1{
    color: #E5A12B;
    font-size: 40px;
    text-align: center;
}

.d1 p{
    text-align: center;
    color: #E5A12B;
}