nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 15px;
    color: #1A2876;
}

a:hover{
    color: #5AC2F2;
}

.redes{
    display: flex;
    align-items: center;
    position: fixed;
    left: 1;
    top: 850px;
    gap: 10px;
    background-color: #E5A12B;
    border-radius: 20px;
}

.a1:hover{
    border: 2px solid #5AC2F2;
    padding: 10px;
    border-radius: 20px;
}

.div1{
    display: flex;
    align-items: center;
}





.t1{
    font-size: 80px;
    text-align: center;
}



main h2{
    color: #E5A12B;
    text-align: center;
}

.d1{
    background-color: #224087;
    width: 800px;
    
}

.d1 h1{
    color: #E5A12B;
    font-size: 40px;
    text-align: center;
}

.d1 p{
    text-align: center;
    color: #E5A12B;
}

.d1 ul{
    color: #E5A12B;
}

.d1 img{
    padding-left: 50px;
}

.d2{
    background-color: #8F49FF;
    width: 800px;
    
}

.d2 h1{
    color: #E5A12B;
    font-size: 40px;
    text-align: center;
}

.d2 p{
    text-align: center;
    color: #E5A12B;
}

.d2 ul{
    color: #E5A12B;
}

.d3{
    background-color: #E5A12B;
    width: 800px;
    padding-left: 20px;
}

.d3 h1{
    color: #224087;
    font-size: 40px;
    text-align: center;
}

.d3 p{
    text-align: center;
    color: #224087;
}

.d3 h2{
    color: #224087;
    text-align: center;
}

.d3 ul{
    color: #224087;
}

.dG{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}